# Q1 :

In [1]:
name=input("Enter your name :")
print('Hello',name)

Enter your name :Nareen
Hello Nareen

# Q2 :

In [2]:
hours = input("Enter Hours:  ")
rate = input("Enter Rate:  ")

Enter Hours:  35
Enter Rate:  2.75

In [3]:
type(hours)
type(rate)

str

In [5]:
# convert string to number
# number: int float
hours = float(hours)
rate = float(rate)

In [6]:
type(hours)

float

In [7]:
pay = hours * rate

In [8]:
print(pay)

96.25

# Q3 :

In [9]:
name_of_var = 2

In [10]:
width = 17
height = 12.0

In [13]:
x1 =width//2
print(x1)

8

In [15]:
# find type of any object
type(x1)

int

In [16]:
x2 =width/2.0
print(x2)

8.5

In [17]:
# find type of any object
type(x2)

float

In [18]:
x3 =height/3
print(x3)

4.0

In [19]:
# find type of any object
type(x3)

float

In [21]:
y1 =1+2*5
print(y1)

11

# Q4 :

In [22]:
temp= float(input("celcius temp: "))
temperature = (float(temp*1.8)+32)
print("farenheit temperature",temperature)

celcius temp: 34
farenheit temperature 93.2

In [23]:
t= int(input('cel temp:' ))
far= (int(t*9/5)+32)
print('farenheit temp: ', far)

cel temp:45
farenheit temp:  113

# Q9 :

In [40]:
str ='welcome to pak navy title-case'
z1 =str.title()
print(z1)

Welcome To Pak Navy Title-Case

# Q6 :

In [36]:
p = input("Enter your principal")
r = input("Enter your rate of interest")
t = input("Enter your duration")
y = float(p)*float(r)*float(t)/100
print("Your interest is:" ,y)

Enter your principal5
Enter your rate of interest7
Enter your duration30
Your interest is: 10.5

# Q7 :

In [37]:
print("Enter two complex numbers in form of a+bj: ")
n1 = complex(input())
n2 = complex(input())
print("sum =", n1 + n2)

Enter two complex numbers in form of a+bj:
4+6j
5+7j
sum = (9+13j)

In [38]:
print("Enter two complex numbers in form of a-bj: ")
n1 = complex(input())
n2 = complex(input())
print("difference =", n1 - n2)

Enter two complex numbers in form of a-bj:
6-3j
7-1j
difference = (-1-2j)

In [39]:
print("Enter two complex numbers in form of a*bj: ")
n1 = complex(input())
n2 = complex(input())
print("Product=", n1*n2)

Enter two complex numbers in form of a*bj:
34
15j
Product= 510j

# STRINGS

# Q1 :

In [2]:
str ='X-DSPAM-Confidence:0.8475'
data =str.find(":")
print(data)

18

In [3]:
str[19:]

'0.8475'

In [4]:
# find the type of this object
type(str)

str

In [5]:
s = float(str[19:])
type(s)

float

# Q2 :

In [1]:
# split 
my_str ="Welcome to the course on Data Science"
splited_str= my_str.split (" ")
print(splited_str)

['Welcome', 'to', 'the', 'course', 'on', 'Data', 'Science']

In [2]:
g =my_str[:10]
print(g)

Welcome to

In [3]:
# concatination
my_str[:7]
my_str[-8:]
x =print(my_str[:7],""+my_str[-8:])

Welcome  Science

# Q4 :

In [59]:
str = ("this pet is my new pet")
z4 =str.count("pet")
print(z4)

2

# Q5 :

In [47]:
s ="Welcome Science"

In [48]:
# count occurrence in a string
data_1 =s.count('e')
print(data_1)

4

In [49]:
data_2 =s.count('w')
print(data_2)

0

In [50]:
data_3 =s.count('c')
print(data_3)

3

In [51]:
data_4 =s.count('l')
print(data_4)

1

In [52]:
data_5 =s.count('s')
print(data_5)

0

In [53]:
data_6 =s.count('o')
print(data_6)

1

In [54]:
data_7 =s.count('i')
print(data_7)

1

In [55]:
data_8 =s.count('m')
print(data_8)

1

In [56]:
data_9 =s.count('n')
print(data_9)

1

# Q6 :

In [1]:
# Concatination
s ="I am a programmer. I am a student"
s[0]
s[-2]
z = s[0] +" "+ s[-2:]
print(z)

I nt

# LISTS

# Q1:

In [9]:
# list creation
x =[1,2,3,4,12]
print(x)

[1, 2, 3, 4, 12]

In [10]:
# list slicing
middle =x[1:4]
print(middle)

[2, 3, 4]

# Q2:

In [11]:
text_file ={"welcome","to","the","new","world","from","previous","world"}
text_file

{'from', 'new', 'previous', 'the', 'to', 'welcome', 'world'}

# Q3:

In [1]:
evens =[2,4,6,8]
odds =[1,3,5,7]

In [2]:
nums =odds + evens
print(nums)

[1, 3, 5, 7, 2, 4, 6, 8]

# Q4:

In [1]:
numbers =[10,20,5,60,80,90]
numbers

[10, 20, 5, 60, 80, 90]

In [2]:
numbers.sort()

In [3]:
smallest =numbers[0]
largest =numbers[-1]

In [4]:
print(f"largest is: {largest}")
print(f"smallest is: {smallest}")

largest is: 90
smallest is: 5

# Q5:

In [8]:
# remove duplicates from list
dupList =[1,2,6,7,4,2,3,6]
print("list items =",dupList)

list items = [1, 2, 6, 7, 4, 2, 3, 6]

In [10]:
uniqSet =set(dupList)
uniqList =list(uniqSet)

In [11]:
print("list items after removing duplicates=",uniqList)

list items after removing duplicates= [1, 2, 3, 4, 6, 7]

# Q6:

In [8]:
# print at least one member in two lists are same
list_A =[6,7,8,9,"d","c","e"]
list_B =[8,5,9,3,"c","b"]

In [9]:
x =set(list_A)
y =set(list_B)

In [10]:
z =x.intersection(y)
print(z)

{8, 9, 'c'}

# Q7:

In [12]:
list1 =['H','e','l','l','o']
list1

['H', 'e', 'l', 'l', 'o']

In [13]:
# printing characters list and its type
print("list1: ",list1)
print("type(list1): ",type(list1))
print()

list1:  ['H', 'e', 'l', 'l', 'o']
type(list1):  <class 'list'>

In [14]:
# convertind character list to string
str =""
for i in list1:
    str +=i;

In [15]:
# print the string and its type
print("str: ",str)
print("type(str): ",type(str))

str:  Hello
type(str):  <class 'str'>

# Q8:

In [17]:
# two lists are identical
listA =['Mon','Tue','Wed','Thu']
listB =['Mon','Wed','Tue','Thu']

In [18]:
# Given lists
print("Given listA: ",listA)
print("Given listB: ",listB)

Given listA:  ['Mon', 'Tue', 'Wed', 'Thu']
Given listB:  ['Mon', 'Wed', 'Tue', 'Thu']

In [19]:
# sort lists
listA.sort()
listB.sort()

In [20]:
# check for equality
if (listA == listB):
    print("Lists are identical")
else:
    print("Lists are not identical")

Lists are identical

# Q9:

In [1]:
# print unique value
mylis =['pbs','newlook','pbs','outlook','sudo','outlook']
set_1 =set(mylis)
print(set_1)

{'sudo', 'newlook', 'outlook', 'pbs'}

# Q10:

In [21]:
# number of occurrence of each element in list
lis_0 =[1,4,3,5,4,6,7,4]
lis_0.count(4)

3

# Q11:

In [2]:
# sublist in a list of lists
z_lis =[[24,55],[13,76],[45,89,77]]
z_lis

[[24, 55], [13, 76], [45, 89, 77]]

In [3]:
w =max(z_lis)
print(w)

[45, 89, 77]

In [4]:
sum(max(z_lis))

211

# Q12:

In [1]:
# insert string in list
list =["a","b","c"]
print(["New{0}".format(i) for i in list])

['Newa', 'Newb', 'Newc']

# Q13:

In [1]:
str_5 ="Hi there"
str_5

'Hi there'

In [2]:
list =[]
list.append(str_5[0])
list.append(str_5[1])
list.append(str_5[2])
list.append(str_5[3])
list.append(str_5[4])
list.append(str_5[5])
list.append(str_5[6])
list.append(str_5[7])

In [3]:
list

['H', 'i', ' ', 't', 'h', 'e', 'r', 'e']

In [29]:
# concatination of element
lis_1 =[3,4,5,12,6]
lis_2 =[2,7,8,1,34,56]
y =lis_1 + lis_2
print(y)

[3, 4, 5, 12, 6, 2, 7, 8, 1, 34, 56]

# Q15:

In [32]:
# obtain list of lists
list_m =[1,4,6,7,8,5,34,12,55]
list_of_list =[list_m[0:3],list_m[4:]]
print(list_of_list)

[[1, 4, 6], [8, 5, 34, 12, 55]]

# Q16:

In [35]:
# convert list of multiple int into single int
my_list1 =[25,12,2]
z =str(25) + str(12) + str(2)
print(z)

25122

# TUPLE

# Q1:

In [4]:
# convert tuple of value into tuple of singleton tuples
t_1 =(1,2,3)
tuple =(t_1[0:1],t_1[1:2],t_1[2:])
print(tuple)

((1,), (2,), (3,))

# Q2:

In [6]:
l1 =[10,40,30,(10,40),50]
ctr =0
for element in l1:
    if type(element) == (tuple):
        break
    ctr +=1
print(ctr)

3

# Q3:

In [1]:
# add corresponding elements of two given tuples
t_1 =(4,5,6,7)
u_1 =(3,8,1,9)
v =t_1 + u_1
print(v)

(4, 5, 6, 7, 3, 8, 1, 9)

# Q4:

In [1]:
# multiply each integer with tuple
t_01 =(2,6,8,5)
x =3
n =(2*x,6*x,8*x,5*x)
print(n)

(6, 18, 24, 15)

# SETS

# Q1:

In [9]:
# add unique no. and use in operator
st_1 ={2,4,6,8,9}
b =4 in st_1
print(b)
c =5 in st_1
print(c)

True
False

# Q2:

In [10]:
# convert list of integer into list of unique values using set
my_lisy =[2,5,4,7,3,1,5]
c =set(my_lisy)
print(c)

{1, 2, 3, 4, 5, 7}

# Q3:

In [1]:
lis_1 =['192.168.0.1','192.168.0.2','192.168.0.3']
lis_2 =['192.168.0.3','192.168.0.2', '192.168.0.1']

In [ ]:
# check not even one different ip

In [2]:
for ip_address in lis_1:
    print(ip_address)
    if ip_address in lis_2:
        continue
    else:
        print("Not Found.hence both lists do not contain similar ip address")

192.168.0.1
192.168.0.2
192.168.0.3

# DICTIONARIES

In [5]:
comm ={'chair' : 10,'table' : 22,'sofa_set': 2,'tv_unit': 0,'fan': 10,'table_lamp': 0,'iron_box': 0,'bed': 30 }
price ={'chair': 2365,'table': 37752,'sofa_set': 23299,'tv_unit': 120344,'bed': 40226,'fan':0,'table_lamp':0,'iron_box':0 }

# inventory available
print("list of inventory that is available in store")

print("chair is available:",comm["chair"])
print("table is available:",comm["table"])
print("sofa_set is available:",comm["sofa_set"])
print("tv_unit is available:",comm["tv_unit"])
print("fan is available:",comm["fan"])
print("table_lamp is available:",comm["table_lamp"])
print("bed is available:",comm["bed"])
print("iron_box is available:",comm["iron_box"])

list of inventory that is available in store
chair is available: 10
table is available: 22
sofa_set is available: 2
tv_unit is available: 0
fan is available: 10
table_lamp is available: 0
bed is available: 30
iron_box is available: 0

In [6]:
chair =int(input('Enter num of chair '))
if chair>comm['chair']:
    print('Sorry there is only 10 chair in stock')

table =int(input('Enter num of table '))
if table>comm['table']:
    print('Sorry there is only 22 table in stock')
    
sofa_set =int(input('Enter num of sofa_set '))
if sofa_set>comm['sofa_set']:
    print('Sorry there is 2 sofa_set in stock')
    
tv_unit =int(input('Enter num of tv_unit '))
if tv_unit>comm['tv_unit']:
    print('Sorry there is only 0 tv_unit in stock')   
    
fan =int(input('Enter num of fan '))
if fan>comm['fan']:
    print('Sorry there is only 10 fan in stock')
    
table_lamp =int(input('Enter num of table_lamp '))
if table_lamp>comm['table_lamp']:
    print('Sorry there is only 0 table_lamp in stock')    
    
bed =int(input('Enter num of bed '))
if bed>comm['bed']:
    print('Sorry there is only 30 bed in stock')    

iron_box =int(input('Enter num of iron_box '))
if iron_box>comm['iron_box']:
    print('Sorry there is only 0 iron_box in stock')

Enter num of chair 7
Enter num of table 15
Enter num of sofa_set 1
Enter num of tv_unit 0
Enter num of fan 9
Enter num of table_lamp 0
Enter num of bed 20
Enter num of iron_box 0

In [7]:
# evaluate total income
t_p1 =price['chair']*chair
t_p2 =price['table']*table
t_p3 =price['sofa_set']*sofa_set
t_p4 =price['tv_unit']*tv_unit
t_p5 =price['fan']*fan
t_p6 =price['table_lamp']*table_lamp
t_p7 =price['bed']*bed
t_p8 =price['iron_box']*iron_box
total_income =t_p1 + t_p2 + t_p3 + t_p4 + t_p5 + t_p6 + t_p7 + t_p8
print('total_income generated by sold stock is:',total_income)

total_income generated by sold stock is: 1410654

In [8]:
x ="remaining inventory"
rem =comm['chair']-chair
print('remaining chair',rem)

x ="remaining inventory"
rem =comm['table']-table
print('remaining table',rem)

x ="remaining inventory"
rem =comm['tv_unit']-tv_unit
print('remaining tv_unit',rem)

x ="remaining inventory"
rem =comm['sofa_set']-sofa_set
print('remaining sofa_set',rem)

x ="remaining inventory"
rem =comm['fan']-fan
print('remaining fan',rem)

x ="remaining inventory"
rem =comm['table_lamp']-table_lamp
print('remaining table_lamp',rem)

x ="remaining inventory"
rem =comm['bed']-bed
print('remaining bed',rem)

x ="remaining inventory"
rem =comm['iron_box']-iron_box
print('remaining iron_box',rem)

remaining chair 3
remaining table 7
remaining tv_unit 0
remaining sofa_set 1
remaining fan 1
remaining table_lamp 0
remaining bed 10
remaining iron_box 0