# Function

# Q1:

In [10]:
def cal_average(num):
    sum_num=0
    for t in num:
        sum_num =sum_num + 1
        
    avg =sum_num/ len(num)
    return avg

print("Average is",cal_average([12,45,33,2]))

Average is 1.0

# Q2:

In [3]:
def isin(string,substring):
    """
    This function perform a program that return a value of true if the string
    contains a substring in it
    """
    for i in range(len(string)):
        print(string[i:len(substring)+i])
    if string[i:len(substring)+i]== substring:
    
        print("Substring Found")
        return

In [5]:
isin("Nareen Asad","Nareen")

Nareen
areen
reen A
een As
en Asa
n Asad
 Asad
Asad
sad
ad
d

# Q3:

In [14]:
def info(name,age):
    print("Name: ",name)
    print("Age: ",age)
    return
info(name ="Nareen",age =19)

Name:  Nareen
Age:  19

# Q4:

In [1]:
def num1(x):
    def num2(y):
        return x + y
    return num2

print(num1(10)(5))

15

# File Handling

# Q1:

In [2]:
while True:
    choice =input('Press 1 for data entry and 2nd for retrivel or done for quit: ')
    if choice=='1':
        name=input("Enter your name: ")
        cnic=input("Enter cnic: ")
        dob=input("Enter date of birth: ")
        hobbies=input("Enter your hobbies: ")
        occuption=input("Enter your occuption: ")
        address=input("Enter your residential address: ")
        record={cnic:{'name':name,'dob':dob,'hobbies':hobbies,'occuption':occuption,'address':address}}
        file=open('data2.txt','a')
        file.write(str(record)+"\n")
        file.close()
        
    elif choice=='done':
        break
    elif choice=='2nd':
        with open('data2.txt',"r")as file:
            data=[]
            for line in file.readlines():
                line=eval(line) # evaluate line
                data.append(line)
                
        entered_cnic=input("Enter cnic")
        for record in data:
            if entered_cnic in record.keys():
                print(record[entered_cnic])
                break
                
    else:
        print("Wrong input")

Press 1 for data entry and 2nd for retrivel or done for quit: 1
Enter your name: nareen
Enter cnic: 4
Enter date of birth: 2002
Enter your hobbies: cricket
Enter your occuption: student
Enter your residential address: house123
Press 1 for data entry and 2nd for retrivel or done for quit: 1
Enter your name: eshal
Enter cnic: 5
Enter date of birth: 2010
Enter your hobbies: reading
Enter your occuption: student
Enter your residential address: house546
Press 1 for data entry and 2nd for retrivel or done for quit: 2nd
Enter cnic4
{'name': 'nareen', 'dob': '2002', 'hobbies': 'cricket', 'occuption': 'student', 'address': 'house123'}
Press 1 for data entry and 2nd for retrivel or done for quit: 2nd
Enter cnic5
{'name': 'eshal', 'dob': '2010', 'hobbies': 'reading', 'occuption': 'student', 'address': 'house546'}
Press 1 for data entry and 2nd for retrivel or done for quit: done

# Q2:

In [2]:
file =open('my_file.txt','a', encoding='utf-8')
file =open('my_file.txt','r', encoding='utf-8')

data =file.read()
file.close()

all_words =data.split(" ")
unique =set(all_words)
repeated_words =[]

for word in unique:
    word_count =0
    for i in all_words:
        if word==i:
            word_count =word_count + 1
            if word_count > 1:
                repeated_words.append(word)
                break
                
print(repeated_words)

['are', 'sentences', 'that', 'or', 'may', 'paragraph', 'what', 'set', 'to', 'really', 'so', 'of', 'is', 'one', 'a', 'story,', 'you', 'the', 'describe', 'many', 'in', 'those', 'as', 'things']

# Q3:

In [3]:
open_file = open('file.txt','r', encoding='utf-8')
lines =open_file.readlines()
for i in range(len(lines)):
    line= (str(i+1)+" "+lines[i])
    print(line)
open_file.close()

1 Essay” is a loose term for writing that asserts the author’s opinion on a topic, whether academic, editorial, or even humorous.

2 There are a thousand different approaches to essay writing and a million different topics to choose from,

3 but what we’ve found is that good essay writing tends to follow the same framework.

# Exception Handling

# Q1:

In [7]:
# value error
try:
    print(float('Intelligence'))
except:
    print('Value Error:could not convert string into float')
else:
    print('No error')

Value Error:could not convert string into float

In [8]:
# index error
try:
    alpha =[1,3,5,6]
    print(alpha[5])
except:
    print("Index Error Occur,list index out of range")
else:
    print('No error')

Index Error Occur,list index out of range

In [9]:
# name error
try:
    print(design)
except:
    print("Name Error:name 'design' is not defined")
else:
    print('No error')

Name Error:name 'design' is not defined